body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
.main{
    background-color:#7C00DA;
    padding: 50px 128px;
}
.main-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.main-logo img{
    height: 60px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;


}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.nav-bar a{
    margin: 0 10px;
    padding: 5px 10px;
}

.nav-bar a:hover{
    text-decoration: underline;
}
.main-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.main-text{
    
    padding-top: 96px;
    color: white; 
}
.main-text h1{
  
    font-size: 80px;
}
.main-text h3{
    width: 50%;
    padding-top: 20px;
    font-weight: 100;
}
.btn{
    background-color: lightslategray;
    color: white;
    margin-top: 30px;
    padding: 16px 40px;
    border-radius: 26px;
    border: 0px;
}

.sdd{
    margin: 94px 128px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    align-items: center;
}
.sdd-box{
    display: flex;
    flex-direction: column;
    padding:0 60px;
    align-items: center;
}
.sdd-box h3{
    font-weight: 100;
    text-align: center;
}
.sdd-box img{
    width: 144px;
    padding: 60px 100px;
}
.sdd-box h3 {
    padding: 20px 70px;
}
.logo{
    background-color: #f7f8fa;
    padding: 100px 240px;
}
.wrapper{
    display: flex;
}
.logo-box{
    width: 25%;
    display: flex;
    justify-content: center;
}
.logo-box img{
    height: 35px;
}
.needs{
    padding: 130px 128px;
    background-color: #051A29;
    color: white;
}
.needs h1{
    padding:0 811px 58px 0;
    font-size: 52px;
}
.needs-box{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.needs-box img{
    width: 35px;
    padding-bottom: 20px;
}
.needs-box h3{
    font-size: 22px;
}
.cooperation-process{
    display: grid;
    grid-template-columns: 60% 40%;
}
.cooperation-process-left{
    background-color: #ecf2f6;
    padding: 283px 110px 130px 128px;
    color: #0c4b67;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cooperation-process-left h1{
    font-size: 52px;
}
.cooperation-process-left p{
    font-size: 23px;
    color: #051a29;
    padding-bottom: 30px;
    opacity: 0.7;
}


.cooperation-process-right{
    padding: 283px 167px 181px 110px;
}
.cooperation-process-right ul{
    list-style-type: none;
    font-size: 52px;
    padding: 30px 0 ;
    font-weight: 600;
}
.cooperation-process-right p{
    font-size: 18px;
    opacity: 0.3;
}
.cooperation-process-right ul li span{
    color:#358aa9;
    opacity: 0.5;
}
.cooperation-process-right ul li{
    color:#358aa9;
    padding:15px 0 ;
}
.cooperation-process-right ul li:hover{
    font-size: 60px;
    color: #051A29;
    cursor: pointer;
}
.footer{
    background-color:white;
    padding: 50px 128px;
}
.footer-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img{
    height: 60px;
}
.footer-nav-bar{
    
    color:#490882;
}
.footer-nav-bar ul li a{
    text-decoration: none;
    color:#490882;
    font-weight: 600;

}
.footer-nav-bar ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}
.footer-nav-bar a{
    margin: 0 10px;
    padding: 5px 10px;
}

.footer-nav-bar a:hover{
    text-decoration: underline;
}
.footer-nav-bar ul li img{
    padding: 0 10px;
}
.footer-nav-bar img:hover{
    text-decoration: underline;
}
hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ECF2F6;
    margin: 1em 0; padding: 0; 
}
.footer-content{
    display: flex;
}
.square{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    background-color:#7C00DA ;
    width: 478px;
    height: 330px;
    margin-top: 40px;
    margin-left: -128px;
}
.square p{
    padding: 57px 143px 59px 128px;
    font-size: 50px;
    color: white;
    font-weight: 600;
}
.contact{
    padding: 17px 300px 0 330px;
    display: grid;
    grid-template-rows:    [row-1-start] 1fr [row-2-start] 1fr [row-2-end];
grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-3-end];
}
.contact-box{
    width: 112px;
    padding-right: 100px;
}
.contact-box p{
    font-size: 12px;
}
.footer-rights{
    height: 90px;
    width: 256px;
}
.footer-rights p{
    padding-top: 20px;
    font-size: 13px;
    color: rgb(156, 155, 155);
}